.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1A1A1D;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 60%;
  width: 35%;
  min-height: 400px;
}

.max-height {
  max-height: 500px;
  height: 500px;
}

.sideContainer {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 60%;
  align-items: center;
}

.startButton {
  text-transform: uppercase;
  text-decoration: none;
  background: #29ff8b;
  font-weight: bold;
  padding: 20px;
  display: inline-block;
  border: none;
  max-width: 10rem;
  margin-top: 1rem;
}

.attentionModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;;
}

@media (max-width: 845px) {
  .outerContainer {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .container {
    flex-grow: 1;
    width: 90%;
    min-height: 450px;
    margin: 2rem 0;
  }
  .max-height {
    height: 400px;
    max-height: 400px;
  }
  .sideContainer {
    width: 25%;
    margin: 1rem 0;
  }
  .startButton {
    width: auto;
  }
}