.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1A1A1D;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 60%;
  width: 35%;
  min-height: 400px;
}

.sideContainer {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 60%;
  align-items: center;
}

.startButton {
  text-transform: uppercase;
  text-decoration: none;
  background: #29ff8b;
  font-weight: bold;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 50%;
}

@media (max-width: 1000px) {
  .outerContainer {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .container {
    flex-grow: 1;
    width: 90%;
    min-height: 500px;
    margin: 2rem 0;
  }
  .sideContainer {
    width: 25%;
    margin-top: 2rem;
  }
  .startButton {
    width: auto;
  }
}