.canvas-container {
  background: #ffffff;
}

.buttonsRow {
  display: flex;
  justify-content: space-between;
  min-width: 375px;
  margin: 0 auto;
}

.buttonsRow button {
  background: #29ff8b;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  border: none;
  touch-action: manipulation;
}

.buttonsRow .clearButton {
  background: #ff4747;
  color: white;
}

.buttonsRow .undoButton {
  background: orange;
  color: white;
}

.buttonsRow .eraserButton {
  background: #fff129;
}

.no-draw canvas {
  background: #ffffff;
  width: 375px;
  height: 375px;
}

@media (min-width: 600px) {
  .no-draw canvas {
    transform: scale(1.2);
    margin: 4rem auto;
  }
}

@media (min-width: 846px) {
  .no-draw canvas {
    transform: scale(1);
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .no-draw canvas {
    transform: scale(1.2);
    margin: 4rem auto;
  }
}

@media (min-width: 1200px) {
  .no-draw canvas {
    transform: scale(1.3);
    margin: 6rem auto;
  }
}