.game {
  background: #e0e2e4;
  height: 85%;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  width: 45%;
  max-height: 90vh;
}

.gameOver {
  padding: 1rem;
  overflow: auto;
  flex: auto;
  width: 100%;
}

.sendButtonSmall {
  width: auto;
}

.previousStep {
  width: 300px;
}

.gameOver ol li {
  margin: 1rem 0;
}
.gameOver ol li span {
  font-size: 1.5rem;
}
.mb-20 {
  margin-bottom: 4rem;
}

@media (max-width: 1000px) {
  .previousStep {
    width: auto;
  }
  .game {
    width: 90%;
    flex-grow: 1;
    min-height: 600px;
    margin: 0 0 2rem;
    max-height: none;
  }
  .game > div {
    min-width: 90%;
  }
  .sendButtonSmall {
    width: 20%;
  }
  .gameOver ol {
    padding-left: 1rem;
  }
}