.game {
  background: #e0e2e4;
  height: 85%;
  margin-left: 50px;
  justify-content: center;
  align-items: center;
  width: 45%;
  max-height: 90vh;
}

.gameOver {
  padding: 1rem;
  overflow: auto;
  flex: auto;
  width: 100%;
}

.sendButtonSmall {
  width: auto;
}

@media (max-width: 1000px) {
  .game {
    width: 90%;
    flex-grow: 1;
    min-height: 600px;
    margin: 0 0 2rem;
    max-height: none;
  }
  .game > div {
    min-width: 90%;
  }
  .sendButtonSmall {
    width: 20%;
  }
}